.stream {
  position: relative;
  display: block;
  width: 100%;
  height: 96px;
  overflow: visible;
}
.stream .arrow {
  background-color: #323232;
  height: 2px;
  position: absolute;
  top: 48px;
  left: 22px;
  right: 22px;
}
.stream .arrow-head {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 16px solid #323232;
  display: inline-block;
  right: 21px;
  position: absolute;
  top: 41px;
}
.stream .marbles {
  position: absolute;
  left: 70px;
  right: 70px;
  top: 48px;
  height: 1px;
}
.stream .marble-container {
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
  margin: -16px;
}
.stream .marble-container .marble-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  text-align: center;
  line-height: 32px;
}
.stream .marble-container svg.marble {
  overflow: visible;
  width: 32px;
  height: 32px;
}
.stream .marble-container circle.marble {
  stroke: #323232;
  fill: #3ea1cb;
}
.stream .marble-container circle.marble.marble-color-1 {
  fill: #3ea1cb;
}
.stream .marble-container circle.marble.marble-color-2 {
  fill: #82d736;
}
.stream .marble-container circle.marble.marble-color-3 {
  fill: #ffcb46;
}
.stream .marble-container circle.marble.marble-color-4 {
  fill: #ff6946;
}
body {
  background: #ececec;
}
section#rxmarblesapp {
  background: #ffffff;
  width: 820px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.17);
}
