.stream {
  padding: 0;
  position: relative;
  margin: 0 54px;
  height: 96px;
}
.stream .arrow {
  background-color: #323232;
  height: 2px;
  position: absolute;
  top: 48px;
  left: -22px;
  right: -22px;
}
.stream .arrow-head {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 16px solid #323232;
  display: inline-block;
  right: -23px;
  position: absolute;
  top: 41px;
}
.stream .marble {
  position: absolute;
  display: inline;
  background-color: #3ea1cb;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 2px solid #323232;
  text-align: center;
  line-height: 32px;
  margin-left: -16px;
  margin-top: 32px;
}
.stream .marble.marble-color-1 {
  background-color: #3ea1cb;
}
.stream .marble.marble-color-2 {
  background-color: #82d736;
}
.stream .marble.marble-color-3 {
  background-color: #ffcb46;
}
.stream .marble.marble-color-4 {
  background-color: #ff6946;
}
body {
  background: #ececec;
}
section#rxmarblesapp {
  background: #ffffff;
  width: 820px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.17);
}
