
@import "colors";
@import "streams";
@import "mixins";

body {
  background: @color-almost-white;
}

section#rxmarblesapp {
  background: @color-white;
  width: 820px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 2px;
  .z-depth-1;
}
