
@operator-box-dropdown-size: 32px;

.sandbox {
  background: @color-white;
  width: 820px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 2px;
  .z-depth-1;

  .operator-box {
    border: 1px solid rgba(0,0,0,0.06);
    padding: 24px;
    text-align: center;
    cursor: pointer;
    .z-depth-2;

    .operator-box-label {
      font-family: Source Code Pro, monospace;
      font-weight: 400;
      font-size: 2rem;
    }
    select {
      z-index: 2000;
      position: absolute;
      opacity: 0.01;
      width: 0px;
      height: 0px;
      left: (@sandbox-side-padding + @operator-box-dropdown-size);
      margin-top: 10px;
    }
    .operator-box-dropdown {
      width: @operator-box-dropdown-size;
      height: @operator-box-dropdown-size;
      background-color: transparent;
      display: inline-block;
      position: absolute;
      left: @sandbox-side-padding;
      margin-top: 4px;
      transition-property: box-shadow;
      transition-duration: @animation-duration-quick;
      .operator-box-dropdown-arrow {
        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-top: 14px solid @color-grey;
        border-left: 8px solid transparent;
        display: inline-block;
        margin-top: 9px;
        transition-property: border-top;
        transition-duration: @animation-duration-quick;
      }
    }
    &:hover {
      .operator-box-dropdown {
        background-color: white;
        .z-depth-1;
        .operator-box-dropdown-arrow {
          border-top: 14px solid @color-grey-dark;
        }
      }
    }
  }
}
